{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

	<div class="login-form-wrapper">

		<b>Q: What is Over Easy?</b><br>
		A: Over Easy makes and delivers a delicious breakfast straight to your door in a selected 20-minute window. We understand that you want breakfast but that you don't have the time to get one in the morning. Now you can get that extra sleep you've always wanted <em>and</em> a complete breakfast.<br><br>

		<b>Q: What are your hours of operation?</b><br>
		A: Our first delivery window opens at 7:30am and our final delivery window ends at 10:10am.<br><br>

		<b>Q: Where does Over Easy get its ingredients?</b><br>
		A: It is our mission to create our dishes with farm fresh, seasonal, and local ingredients.<br><br>

		<b>Q: Where do you get your juices?</b><br>
		A: We get our juices from Cold Off the Press. Each one contains over 3 pounds of produce. Try them! They're amazing.<br><br>

		<b>Q: Is there a delivery fee?</b><br>
		A: Nope!<br><br>

		<b>Q: Is there a tip?</b><br>
		A: No delivery fee, no tip, no problem! We will simply drop off your breakfast in the morning.<br><br>

		<b>Q: How is payment accepted?</b><br>
		A: We accept credit and debit cards through Stripe, a highly secured third-party system.<br><br>

		<b>Q: Do you deliver coffee, or nah?</b><br>
		A: Hell yeah we do!<br><br>

		<b>Q: What if a delivery is late?</b><br>
		A: We guarantee your breakfast will arrive in the selected 20-minute time window. If we're late, then your breakfast is on us.<br><br>

		<b>Q: Who do I contact if I have a question about my order?</b><br>
		A: Email <a href="mailto:help@overeasyapp.com?Subject=My%20Order" target="_top">help@overeasyapp.com</a>. A real person will respond promptly.<br><br>

		<b>Q: Who took that awesome photo on your home page?</b><br>
		A: Thanks, Joann! <a href="http://instagram.com/sliceofpai">@sliceofpai</a><br><br>

	</div>

<br><br><br>
{% endblock %}