{% extends "base.html" %}

{% load staticfiles %}

{% block heading %}

{% endblock %}

{% block content %}
	<div id="center_text">
		<img src="{% static "img/text.png" %}" class="center" width=300px>
	</div>

	<form method="post" action="login">
		{% csrf_token %}

		{{ error }}
		<div class="login-form-wrapper">
			<div class="form-group">
				<label for="exampleInputEmail1">Email address</label>
				<input type="email" class="form-control" id="username" name="username" placeholder="Enter email">
			</div>


			  <div class="form-group">
			    <label for="exampleInputPassword1">Password</label>
			    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
			  </div>

			<button type="submit" class="btn btn-default" style="width:49%;"><b>Sign In</b></button>
			<a href="users/register"><button class="btn btn-default" style="width:49%; color:#000000; background-color:#FF9000;"><b>Sign Up</b></button></a>

	 	</div>
	</form>

	<a href="about">About</a>
	<a href="terms">Terms</a>


{% endblock %}