{% extends "base.html" %}

{% load staticfiles %}

{% block heading %}

{% endblock %}

{% block content %}
	<div id="center_text">
		<img src="{% static "img/text.png" %}" class="center" width=300px>
	</div>

	<div class="login-form-wrapper">

	<form method="post" action="login">
		{% csrf_token %}

			<div id="error-on-login">
				{{ error }}
			</div>

			<div class="form-group">
				<!--<label for="exampleInputEmail1">Email address</label>-->
				<input type="email" class="form-control" id="username" name="username" placeholder="Email">
			</div>


			  <div class="form-group">
			    <!--<label for="exampleInputPassword1">Password</label>-->
			    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
			  </div>



		<button type="submit" class="btn btn-default" style="width:48%;"><b>Sign In</b></button>
	</form>

	<form action="/users/register">
		<div id="submit-button-home">
		<button type="submit" class="btn btn-default" style="width:48%; color:#000000; background-color:#FF9000; padding-top: 10px"><b>Sign Up</b></button>
	</div>
		
	</form>

	</div>

	<div id="home-page-footer">
			
		<ul>
			<li><a href="about"><b>About</b></a></li>
			<li><a href="terms"><b>Terms</b></a></li>
			<li><a href="menu"><b>Menu</b></a></li>
		</ul>			
	</div>

{% endblock %}