{% extends "base.html" %}


{% block heading %}

{% endblock %}

{% block content %}
	<form method="post" action="login">
		{% csrf_token %}

		{{ error }}

			<input id="username" name="username" placeholder="Email"><br>
			<input id="password" name="password" type="password" placeholder="Password"><br>
		
			<input type="submit" name="submit" value="Submit" />




		<div class="group">      
	      <input type="text" required>
	      <span class="highlight"></span>
	      <span class="bar"></span>
	      <label>Name</label>
	    </div>
	      
	    <div class="group">      
	      <input type="text" required>
	      <span class="highlight"></span>
	      <span class="bar"></span>
	      <label>Email</label>
	    </div>


	</form>
	<a href="/users/register">
		Register
	</a>
{% endblock %}