{% extends 'cal_base.html' %}

{% block content %}

<h2>Today's Orders</h2>

{% if no_orders %}

<h2> There are currently no orders at this time.</h2>

{% else %}
<table>
{% for order in orders_to_display %}
<tr>
	<td>{{ order.entry.date }}</td>
	<td>&nbsp; &nbsp; </td>
	<td>{{ order.entry.time }}</td>
	<td>&nbsp; &nbsp; </td>
	<td>
		{% for item in order.get_all_item_names_for_order %}
		
		{{ item }} &nbsp;

		{% endfor %}
	</td>
</tr>
{% endfor %}
</table>
<br><br>

{% for order in orders_to_display %}
	
	Time: <b>{{ order.entry.time }}</b><br>
	Order Id: {{ order.id }}<br>
	Name: {{ order.profile.user.first_name }} {{ order.profile.user.last_name}}<br>
	Phone: {{ order.profile.phone }}<br>
	Address: {{ order.profile.get_address_string }}<br>
	Date: {{ order.entry.date }}<br>
	Total: {{ order.view_order_total_in_usd }}<br>
	Items:
	{% for item in order.get_all_item_names_for_order %}
	{{ item }}, 
	{% endfor %}<br><br><hr>

{% endfor %}

{% endif %}

<h2>Tomorrow's Orders</h2>

{% if no_orders_tomorrow %}

<h2> There are currently no orders for tomorrow at this time.</h2>

{% else %}
<table>
{% for order in orders_for_tomorrow %}
<tr>
	<td>{{ order.entry.date }}</td>
	<td>&nbsp; &nbsp; </td>
	<td>{{ order.entry.time }}</td>
	<td>&nbsp; &nbsp; </td>
	<td>
		{% for item in order.get_all_item_names_for_order %}
		
		{{ item }} &nbsp;

		{% endfor %}
	</td>
</tr>
{% endfor %}
</table>
<br><br>

{% for order in orders_for_tomorrow %}

	Time: <b>{{ order.entry.time }}</b>
	Order Id: {{ order.id }}<br>
	Name: {{ order.profile.user.first_name }} {{ order.profile.user.last_name}}<br>
	Address: {{ order.profile.get_address_string }}
	Date: {{ order.entry.date }}<br>
	Total: {{ order.view_order_total_in_usd }}<br>
	Items:
	{% for item in order.get_all_item_names_for_order %}
	{{ item }}, 
	{% endfor %}<br>

{% endfor %}

{% endif %}


{% endblock %}