{% extends 'cal_base.html' %}

{% block content %}

<h2>Today's Orders</h2>

{% if no_orders_today == True %}
<h2>There are no orders today</h2>

{% else %}

{% for order in orders_to_display %}
	
Order: {{ order.id }}
{{ order.entry.time }}
Name: {{ order.profile.user.first_name }} {{ order.profile.user.last_name }}
Address: {{ order.profile.get_address_string }}
Driver:
	{% if order_driver_match.order == None %}
	Not Yet Assigned

	{% else %}
	{{ order_driver_match.order }}
	{% endif %}

Change Driver:
	<form role="form" method="post" action="/driver/manage_drivers">
	{% csrf_token %}

	<select>
	{% for driver in all_drivers %}
		  <option name="driver_id" value="{{ driver.id }}">{{ driver.user.first_name }} {{ driver.user.last_name}}</option>
	{% endfor %}
	</select>

	<input type="hidden" name="order_id" value="{{ order.id }}">

	<input type="submit" name="submit" value="Change Driver"/>

	</form>
{% endfor %}


{% endif %}


{% endblock %}