<!DOCTYPE html>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/card.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/overeasy.css' %}"/>

<link href='http://fonts.googleapis.com/css?family=Oswald|Abel' rel='stylesheet' type='text/css'>

<html lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>Checkout</title>
 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{% static 'js/card.js' %}"></script>
    <script>
        $('.active form').card({
            container: $('.card-wrapper')
        })
    </script>

  <!-- The required Stripe lib -->
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
 
  <!-- jQuery is used only for this example; it isn't required to use Stripe -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
 

  <script type="text/javascript">
    // This identifies your website in the createToken call below
    Stripe.setPublishableKey('pk_test_AVyBiR1Ij19NEtarpeyvOJ29');
 
    var stripeResponseHandler = function(status, response) {
      var $form = $('#payment-form');
 
      if (response.error) {
        // Show the errors on the form
        $form.find('.payment-errors').text(response.error.message);
        $form.find('button').prop('disabled', false);
      } else {
        // token contains id, last4, and card type
        var token = response.id;
        // Insert the token into the form so it gets submitted to the server
        $form.append($('<input type="hidden" name="stripeToken" />').val(token));
        // and re-submit
        $form.get(0).submit();
      }
    };
 
    jQuery(function($) {
      $('#payment-form').submit(function(e) {
        var $form = $(this);
 
        // Disable the submit button to prevent repeated clicks
        $form.find('button').prop('disabled', true);
 
        Stripe.card.createToken($form, stripeResponseHandler);
 
        // Prevent the form from submitting with the default action
        return false;
      });
    });
  </script>
</head>
<body>

{% include 'head.html' %}

<div class="container-fluid">

  <div id="calendar_wrapper">
    <div id="calendar-header">
      <h2>CHECKOUT</h2>

      <div class="row">
        <div class="col-md-4">
          <h4><b>Address<b></h4>
          <h5>
            {{ user.first_name }} {{ user.last_name }}<br>
            {{ profile.address }}<br>
            {{ profile.city }}, {{ profile.state }}<br>
            Phone: {{ profile.phone }}
          </h5>
          <a href="/profile"><input class="btn btn-default" style="width:200px; height: 70%; color:#000000; ; background-color:#E3ECFD; border-color: #7E95F5" value="Change Address"></a>
          <!--{% if card_on_file %}-->
          <h4><b>Payment<b></h4>
          <!--{% endif %}-->
        </div>
        <div class="col-md-8">
          <h4><b>Your Order for {{ entry.full_date_and_time_string }}<b></h4>
          <hr>
          <table>
            {% for key, value in items_with_quantity.items %}
            <tr>
              <td></td>
              <td>{{ value }}x {{ key.name_in_caps }}</td>
              <td>&nbsp; &nbsp;</td>
              <td>{{ key.price.format_price_usd }}</td>
            </tr>
            {% endfor %}
          </table>

          <h4><b>Add Card Information</b></h4>
          <hr>
          <div class="row">
            <div class="col-md-5">
              <div class="card-wrapper"></div>
            </div>
            <div class="col-md-5">
              <div class="form-container active">
                <form action="process_new_card/" method="POST" id="payment-form">
                  {% csrf_token %}

                  <span class="payment-errors"></span>

                  <div class="form-row">
                      <input placeholder="Card Number" type="text" name="number" class="form-control" data-stripe="number">
                  </div>

                  <div class="form-row">
                    <input placeholder="Full name" class="form-control" type="text" name="name">
                  </div>

                  <div class="form-row">
                    <input placeholder="MM" class="form-control" type="text" size="2" data-stripe="exp-month"/>
                    <input placeholder="YYYY" class="form-control" type="text" size="4" data-stripe="exp-year"/>
                  </div>

                  <div class="form-row">
                    <input placeholder="CVC" type="text" class="form-control" name="cvc" data-stripe="cvc">
                  </div>

                  <input type="hidden" name="total_price" value="{{ total_price }}">
                  <input type="hidden" name="cart_id" value="{{ cart_id }}">
                  <button type="submit" style="width:200px; height: 70%; color:#000000; ; background-color:#E3ECFD; border-color: #7E95F5">Submit Payment</button>

                </form>
              </div>
            </div>
          </div>

          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
          <script src="{% static 'js/card.js' %}"></script>
          <script>
            $('.active form').card({
              container: $('.card-wrapper')
            })
          </script>
          
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
