{% extends 'profile_base.html' %}

{% block content %}

<div id="profile-header">
	<h2><b>{{ profile.user.first_name }}'s Profile</b></h2>

      <div class="row">
        <div class="col-md-3">
          <h4><b>Address<b></h4>
          <h5>
            {{ profile.user.first_name }} {{ profile.user.last_name }}<br>
            {{ profile.address }}<br>
            {{ profile.city }}, {{ profile.state }}<br>
            Phone: {{ profile.phone }}
          </h5>
        <!--<a href="/profile"><input class="btn btn-default" style="width:200px; height: 70%; color:#000000; ; background-color:#E3ECFD; border-color: #7E95F5" value="Change Address"></a>-->
        <h4><b>Your Referral Code</b></h4>
        <h5>{{ referral.referral_code }}</h5>
        </div>

       <div class="col-md-9">
       <h4><b>Your Orders</b></h4>
       <hr>

       {% if no_orders_yet %}
       You haven't yet placed any orders!
       {% else %}
       <table>
       	<tr>
       		<td><b>Order #</b></td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
       		<td><b>When It's Coming</b></td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
       		<td><b>Cost</b></td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
       		<td><b>Order Status</b></td>
       	</tr>
       	{% for order in orders %}
       	<tr>
       		<td>{{ order.id }}</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
       		<td>{{ order.entry.full_date_and_time_string }}</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
       		<td>{{ order.view_order_total_in_usd}}</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
       		<td>{{ order.status }}</td>
       	</tr>
       {% endfor %}
       </table>
       {% endif %}


        <h4>Any questions? Problems? Email <a href="mailto:help@overeasyapp.com?Subject=Over%20Easy" target="_top">help@overeasyapp.com</a> and a real person will respond in lightning speed.</h4>


</div>


{% endblock %}