{% extends 'menu_base.html' %}

{% load staticfiles %}

{% block content %}

<div id="calendar_wrapper">
	<div id="cart-header">
		{% if cart_more_than_one %}

		<table>
			{% for key, value in item_urls.items %}
			<td>

				<img src={{ value }} style="pointer-events:none; width:60px; height:60px;" class="center">

				<form role="form" method="post" action="/menu/remove_from_cart/">
				{% csrf_token %}
				<input type="hidden" name="cart_item_id" value="{{key}}">
				<input type="hidden" name="entry_id" value="{{ entry_id }}">
				<div class="cart_remove_button">
					<input type="image" src="{% static "img/menu/button-remove.png"%}" alt="Remove from cart" />
				</div>
				</form>

			</td>
			<td>&nbsp;</td>
			{% endfor %}
			<td>
				{% if total_price >= 300 %}
				<form role="form" method="post" action="/checkout/">
					{% csrf_token %}
					<input type="hidden" name="entry_id" value="{{ entry_id }}">
					<input type="hidden" name="cart_id" value="{{ cart_id }}">
					<input type="submit" class="btn btn-default" style="width:120px; height: 40px; color:#000000; margin-right: 15px; background-color:#FFE0C2; margin-top: -65px; border-color: #FF9000" value="Checkout">
				</form>
				{% else %}
				<form role="form" method="post" action="/checkout/">
					{% csrf_token %}
					<input type="hidden" name="entry_id" value="{{ entry_id }}">
					<input type="hidden" name="cart_id" value="{{ cart_id }}">
					<input type="submit" class="btn btn-default" style="width:120px; height: 40px; color:#000000; margin-right: 15px; background-color:#C0C0C0; margin-top: -65px; border-color: #FF9000" value="  $3 Order Minimum." disabled>
				</form>
				{% endif %}
			</td>
		</table>
		{% endif %}
	</div>

	<div id="label-for-menu">
	<h2>MENU</h2>
	<h3>No delivery fee, no tip, no problem.</h3>
	</div>

	{% if cart_more_than_one %}
	<div id="phys-menu-wrapper">
	{% endif %}

	<div class="row">
  		<div class="col-md-3">

  			<div class="category_box">
				<div class="category_title">
					CLASSIC
				</div>

			</div>

			<img src="{% static "img/menu/singleline.png"%}" style="  pointer-events:none; margin-top: -60px; margin-left: 40px; margin-bottom: -60px; width:200px;">
			<div class="menu_box">
				<div class="product_title">
  					<p class="alignleft">BURRITO #1</p>
  					<p class="alignright">$6.5</p>
				</div>
				<div style="clear: both;"></div>
				
				<div class="product_desc">
					Scrambled eggs, carmelized peppers and onions, cheddar, crispy potatoes, and chipotle aioli.
				</div>
				
				<form role="form" method="post" action="/menu/">
					{% csrf_token %}
					<input type="hidden" name="item_id" value="3">
					<input type="hidden" name="entry_id" value="{{ entry_id }}">
				
					<center><input type="image" src="{% static "img/menu/button-notoggle.png"%}" alt="Add to Cart" width="20px"/></center>
					<!--<input type="submit" name="submit" value="Add to Cart">-->
				</form>
			</div>
			<img src="{% static "img/menu/singleline.png"%}" style="  pointer-events:none; margin-top: -60px; margin-left: 40px; margin-bottom: -60px; width:200px;">
			<div class="menu_box">
				<div class="product_title">
  					<p class="alignleft">KALE WRAP</p>
  					<p class="alignright">$7</p>
				</div>
				<div style="clear: both;"></div>
				
				<div class="product_desc">
					Farm fresh egg whites, sautéed kale, avocado, and provolone in a spinach wrap.
				</div>
				
				<form role="form" method="post" action="/menu/">
					{% csrf_token %}
					<input type="hidden" name="item_id" value="3">
					<input type="hidden" name="entry_id" value="{{ entry_id }}">
				
					<center><input type="image" src="{% static "img/menu/button-notoggle.png"%}" alt="Add to Cart" width="20px"/></center>
					<!--<input type="submit" name="submit" value="Add to Cart">-->
				</form>
			</div>
			<img src="{% static "img/menu/singleline.png"%}" style="  pointer-events:none; margin-top: -60px; margin-left: 40px; margin-bottom: -60px; width:200px;">
			<div class="menu_box">
				<div class="product_title">
  					<p class="alignleft">OATMEAL</p>
  					<p class="alignright">$6</p>
				</div>
				<div style="clear: both;"></div>
				
				<div class="product_desc">
					Oven-baked oats with sliced almonds on the side.
				</div>
				
				<form role="form" method="post" action="/menu/">
					{% csrf_token %}
					<input type="hidden" name="item_id" value="3">
					<input type="hidden" name="entry_id" value="{{ entry_id }}">
				
					<center><input type="image" src="{% static "img/menu/button-notoggle.png"%}" alt="Add to Cart" width="20px"/></center>
					<!--<input type="submit" name="submit" value="Add to Cart">-->
				</form>
			</div>
					<img src="{% static "img/menu/singleline.png"%}" style="  pointer-events:none; margin-top: -60px; margin-left: 40px; margin-bottom: -60px; width:200px;">
			<div class="menu_box">
				<div class="product_title">
  					<p class="alignleft">BAGEL</p>
  					<p class="alignright">$4</p>
				</div>
				<div style="clear: both;"></div>
				
				<div class="product_desc">
					Toasted bagel with cream cheese.
				</div>
				
				<form role="form" method="post" action="/menu/">
					{% csrf_token %}
					<input type="hidden" name="item_id" value="3">
					<input type="hidden" name="entry_id" value="{{ entry_id }}">
				
					<center><input type="image" src="{% static "img/menu/button-notoggle.png"%}" alt="Add to Cart" width="20px"/></center>
					<!--<input type="submit" name="submit" value="Add to Cart">-->
				</form>
			</div>
  		</div>

  		<div class="col-md-3">

  			<div class="category_box">
				<div class="category_title">
					PRESSED JUICE
				</div>

			</div>

			<img src="{% static "img/menu/singleline.png"%}" style="  pointer-events:none; margin-top: -60px; margin-left: 40px; margin-bottom: -60px; width:200px;">
			<div class="menu_box">
				<div class="product_title">
  					<p class="alignleft">GREEN</p>
  					<p class="alignright">$9</p>
				</div>
				<div style="clear: both;"></div>
				
				<div class="product_desc">
					Apple, celery, kale, greens, lemon, ginger, spirulina.
				</div>
				
				<form role="form" method="post" action="/menu/">
					{% csrf_token %}
					<input type="hidden" name="item_id" value="3">
					<input type="hidden" name="entry_id" value="{{ entry_id }}">
				
					<center><input type="image" src="{% static "img/menu/button-notoggle.png"%}" alt="Add to Cart" width="20px"/></center>
					<!--<input type="submit" name="submit" value="Add to Cart">-->
				</form>
			</div>
			<img src="{% static "img/menu/singleline.png"%}" style="  pointer-events:none; margin-top: -60px; margin-left: 40px; margin-bottom: -60px; width:200px;">
			<div class="menu_box">
				<div class="product_title">
  					<p class="alignleft">RED</p>
  					<p class="alignright">$9</p>
				</div>
				<div style="clear: both;"></div>
				
				<div class="product_desc">
					Beet-root, celery, carrot, apple, lemon, ginger.
				</div>
				
				<form role="form" method="post" action="/menu/">
					{% csrf_token %}
					<input type="hidden" name="item_id" value="3">
					<input type="hidden" name="entry_id" value="{{ entry_id }}">
				
					<center><input type="image" src="{% static "img/menu/button-notoggle.png"%}" alt="Add to Cart" width="20px"/></center>
					<!--<input type="submit" name="submit" value="Add to Cart">-->
				</form>
			</div>
			<img src="{% static "img/menu/singleline.png"%}" style="  pointer-events:none; margin-top: -60px; margin-left: 40px; margin-bottom: -60px; width:200px;">
			<div class="menu_box">
				<div class="product_title">
  					<p class="alignleft">ALMOND</p>
  					<p class="alignright">$9</p>
				</div>
				<div style="clear: both;"></div>
				
				<div class="product_desc">
					Sprouted organic almonds, coconut nectar, vanilla bean, cinnamon, himalayan salt.
				</div>
				
				<form role="form" method="post" action="/menu/">
					{% csrf_token %}
					<input type="hidden" name="item_id" value="3">
					<input type="hidden" name="entry_id" value="{{ entry_id }}">
				
					<center><input type="image" src="{% static "img/menu/button-notoggle.png"%}" alt="Add to Cart" width="20px"/></center>
					<!--<input type="submit" name="submit" value="Add to Cart">-->
				</form>
			</div>
					<img src="{% static "img/menu/singleline.png"%}" style="  pointer-events:none; margin-top: -60px; margin-left: 40px; margin-bottom: -60px; width:200px;">
			<div class="menu_box">
				<div class="product_title">
  					<p class="alignleft">GRAPEFRUIT</p>
  					<p class="alignright">$9</p>
				</div>
				<div style="clear: both;"></div>
				
				<div class="product_desc">
					Grapefruit, alkaline water, mint, yacón root.
				</div>
				
				<form role="form" method="post" action="/menu/">
					{% csrf_token %}
					<input type="hidden" name="item_id" value="3">
					<input type="hidden" name="entry_id" value="{{ entry_id }}">
				
					<center><input type="image" src="{% static "img/menu/button-notoggle.png"%}" alt="Add to Cart" width="20px"/></center>
					<!--<input type="submit" name="submit" value="Add to Cart">-->
				</form>
			</div>
  		</div>
  		  		<div class="col-md-3">

  			<div class="category_box">
				<div class="category_title">
					SIDES
				</div>

			</div>

			<img src="{% static "img/menu/singleline.png"%}" style="  pointer-events:none; margin-top: -60px; margin-left: 40px; margin-bottom: -60px; width:200px;">
			<div class="menu_box">
				<div class="product_title">
  					<p class="alignleft">YOGURT</p>
  					<p class="alignright">$2</p>
				</div>
				<div style="clear: both;"></div>
				
				<div class="product_desc">
					Chobani<br>Vanilla, non-fat, Greek yogurt.
				</div>
				
				<form role="form" method="post" action="/menu/">
					{% csrf_token %}
					<input type="hidden" name="item_id" value="3">
					<input type="hidden" name="entry_id" value="{{ entry_id }}">
				
					<center><input type="image" src="{% static "img/menu/button-notoggle.png"%}" alt="Add to Cart" width="20px"/></center>
					<!--<input type="submit" name="submit" value="Add to Cart">-->
				</form>
			</div>
			<img src="{% static "img/menu/singleline.png"%}" style="  pointer-events:none; margin-top: -60px; margin-left: 40px; margin-bottom: -60px; width:200px;">
			<div class="menu_box">
				<div class="product_title">
  					<p class="alignleft">FRUIT</p>
  					<p class="alignright">$2</p>
				</div>
				<div style="clear: both;"></div>
				
				<div class="product_desc">
					Seasonal mixed berries.
				</div>
				
				<form role="form" method="post" action="/menu/">
					{% csrf_token %}
					<input type="hidden" name="item_id" value="3">
					<input type="hidden" name="entry_id" value="{{ entry_id }}">
				
					<center><input type="image" src="{% static "img/menu/button-notoggle.png"%}" alt="Add to Cart" width="20px"/></center>
					<!--<input type="submit" name="submit" value="Add to Cart">-->
				</form>
			</div>
  		</div>
  		 <div class="col-md-3">

  			<div class="category_box">
				<div class="category_title">
					DRINKS
				</div>

			</div>

			<img src="{% static "img/menu/singleline.png"%}" style="  pointer-events:none; margin-top: -60px; margin-left: 40px; margin-bottom: -60px; width:200px;">
			<div class="menu_box">
				<div class="product_title">
  					<p class="alignleft">COFFEE</p>
  					<p class="alignright">$2.5</p>
				</div>
				<div style="clear: both;"></div>
				
				<div class="product_desc">
					La Colombe.
				</div>
				
				<form role="form" method="post" action="/menu/">
					{% csrf_token %}
					<input type="hidden" name="item_id" value="3">
					<input type="hidden" name="entry_id" value="{{ entry_id }}">
				
					<center><input type="image" src="{% static "img/menu/button-notoggle.png"%}" alt="Add to Cart" width="20px"/></center>
					<!--<input type="submit" name="submit" value="Add to Cart">-->
				</form>
			</div>
			<img src="{% static "img/menu/singleline.png"%}" style="  pointer-events:none; margin-top: -60px; margin-left: 40px; margin-bottom: -60px; width:200px;">
			<div class="menu_box">
				<div class="product_title">
  					<p class="alignleft">GREEN TEA</p>
  					<p class="alignright">$2.5</p>
				</div>
				<div style="clear: both;"></div>
				
				<div class="product_desc">
					Harney and Sons.
				</div>
				
				<form role="form" method="post" action="/menu/">
					{% csrf_token %}
					<input type="hidden" name="item_id" value="3">
					<input type="hidden" name="entry_id" value="{{ entry_id }}">
				
					<center><input type="image" src="{% static "img/menu/button-notoggle.png"%}" alt="Add to Cart" width="20px"/></center>
					<!--<input type="submit" name="submit" value="Add to Cart">-->
				</form>
			</div>
			<img src="{% static "img/menu/singleline.png"%}" style="  pointer-events:none; margin-top: -60px; margin-left: 40px; margin-bottom: -60px; width:200px;">
			<div class="menu_box">
				<div class="product_title">
  					<p class="alignleft">EARL GREY TEA</p>
  					<p class="alignright">$2.5</p>
				</div>
				<div style="clear: both;"></div>
				
				<div class="product_desc">
					Harney and Sons.
				</div>
				
				<form role="form" method="post" action="/menu/">
					{% csrf_token %}
					<input type="hidden" name="item_id" value="3">
					<input type="hidden" name="entry_id" value="{{ entry_id }}">
				
					<center><input type="image" src="{% static "img/menu/button-notoggle.png"%}" alt="Add to Cart" width="20px"/></center>
					<!--<input type="submit" name="submit" value="Add to Cart">-->
				</form>
			</div>
					<img src="{% static "img/menu/singleline.png"%}" style="  pointer-events:none; margin-top: -60px; margin-left: 40px; margin-bottom: -60px; width:200px;">
			<div class="menu_box">
				<div class="product_title">
  					<p class="alignleft">WATER</p>
  					<p class="alignright">$1.5</p>
				</div>
				<div style="clear: both;"></div>
				
				<div class="product_desc">
				</div>
				
				<form role="form" method="post" action="/menu/">
					{% csrf_token %}
					<input type="hidden" name="item_id" value="3">
					<input type="hidden" name="entry_id" value="{{ entry_id }}">
				
					<center><input type="image" src="{% static "img/menu/button-notoggle.png"%}" alt="Add to Cart" width="20px"/></center>
					<!--<input type="submit" name="submit" value="Add to Cart">-->
				</form>
			</div>
  		</div>


	</div>

</div>
	
</div>

{% endblock %}