{% extends 'cal_base.html' %}

{% load staticfiles %}

{% block content %}

<div id="calendar_wrapper">
	<div id="calendar-header">
		<h2>MENU</h2>
	</div>
	<table>
		<tr>
			<td>
				<div class="menu_box">
				CLASSIC
				</div>
			</td>	
			<td>
				<div class="menu_box">
				PRESSED JUICE
				</div>
			</td>		
			<td>
				<div class="menu_box">
				SIDES
				</div>
			</td>
			<td>
				<div class="menu_box">
				DRINKS
				</div>
			</td>		
		</tr>

		<tr>
			<td>
				<div class="menu_box">
				<img src="{% static "img/menu/burrito1.png"%}" style="  pointer-events:none; width:186px; height:100px;" class="center">
				

				<form role="form" method="post" action="/menu/">
				{% csrf_token %}
				<input type="hidden" name="item_id" value="{{ item.item.id }}">
				<input type="hidden" name="entry_id" value="{{ entry_id }}">
				<div class="cart_add_button">
					<input type="image" src="{% static "img/menu/button-notoggle.png"%}" alt="Add to Cart" />
				</div>
				<!--<input type="submit" name="submit" value="Add to Cart">-->
				</form>
				</div>
				</div>
			</td>
			<td>
				<div class="menu_box">
				<img src="{% static "img/menu/green.png"%}" style="  pointer-events:none; width:186px; height:100px;" class="center">
				

				<form role="form" method="post" action="/menu/">
				{% csrf_token %}
				<input type="hidden" name="item_id" value="{{ item.item.id }}">
				<input type="hidden" name="entry_id" value="{{ entry_id }}">
				<div class="cart_add_button">
					<input type="image" src="{% static "img/menu/button-notoggle.png"%}" alt="Add to Cart" />
				</div>
				<!--<input type="submit" name="submit" value="Add to Cart">-->
				</form>
				</div>
				</div>
			</td>
			<td>
				<div class="menu_box">
				<img src="{% static "img/menu/yogurt.png"%}" style="  pointer-events:none; width:186px; height:100px;" class="center">
				

				<form role="form" method="post" action="/menu/">
				{% csrf_token %}
				<input type="hidden" name="item_id" value="{{ item.item.id }}">
				<input type="hidden" name="entry_id" value="{{ entry_id }}">
				<div class="cart_add_button">
					<input type="image" src="{% static "img/menu/button-notoggle.png"%}" alt="Add to Cart" />
				</div>
				<!--<input type="submit" name="submit" value="Add to Cart">-->
				</form>
				</div>
				</div>
			</td>
			<td>
				<div class="menu_box">
				<img src="{% static "img/menu/coffee.png"%}" style="  pointer-events:none; width:186px; height:100px;" class="center">
				

				<form role="form" method="post" action="/menu/">
				{% csrf_token %}
				<input type="hidden" name="item_id" value="{{ item.item.id }}">
				<input type="hidden" name="entry_id" value="{{ entry_id }}">
				<div class="cart_add_button">
					<input type="image" src="{% static "img/menu/button-notoggle.png"%}" alt="Add to Cart" />
				</div>
				<!--<input type="submit" name="submit" value="Add to Cart">-->
				</form>
				</div>
				</div>
			</td>
		</tr>

		<tr>
			<td>
				<div class="menu_box">
				<img src="{% static "img/menu/kalewrap.png"%}" style="  pointer-events:none; width:186px; height:100px;" class="center">
				

				<form role="form" method="post" action="/menu/">
				{% csrf_token %}
				<input type="hidden" name="item_id" value="{{ item.item.id }}">
				<input type="hidden" name="entry_id" value="{{ entry_id }}">
				<div class="cart_add_button">
					<input type="image" src="{% static "img/menu/button-notoggle.png"%}" alt="Add to Cart" />
				</div>
				<!--<input type="submit" name="submit" value="Add to Cart">-->
				</form>
				</div>
				</div>
			</td>
			<td>
				<div class="menu_box">
				<img src="{% static "img/menu/red.png"%}" style="  pointer-events:none; width:186px; height:100px;" class="center">
				

				<form role="form" method="post" action="/menu/">
				{% csrf_token %}
				<input type="hidden" name="item_id" value="{{ item.item.id }}">
				<input type="hidden" name="entry_id" value="{{ entry_id }}">
				<div class="cart_add_button">
					<input type="image" src="{% static "img/menu/button-notoggle.png"%}" alt="Add to Cart" />
				</div>
				<!--<input type="submit" name="submit" value="Add to Cart">-->
				</form>
				</div>
				</div>
			</td>
			<td>
				<div class="menu_box">
				<img src="{% static "img/menu/fruit.png"%}" style="  pointer-events:none; width:186px; height:100px;" class="center">
				

				<form role="form" method="post" action="/menu/">
				{% csrf_token %}
				<input type="hidden" name="item_id" value="{{ item.item.id }}">
				<input type="hidden" name="entry_id" value="{{ entry_id }}">
				<div class="cart_add_button">
					<input type="image" src="{% static "img/menu/button-notoggle.png"%}" alt="Add to Cart" />
				</div>
				<!--<input type="submit" name="submit" value="Add to Cart">-->
				</form>
				</div>
				</div>
			</td>
			<td>
				<div class="menu_box">
				<img src="{% static "img/menu/greentea.png"%}" style="  pointer-events:none; width:186px; height:100px;" class="center">
				

				<form role="form" method="post" action="/menu/">
				{% csrf_token %}
				<input type="hidden" name="item_id" value="{{ item.item.id }}">
				<input type="hidden" name="entry_id" value="{{ entry_id }}">
				<div class="cart_add_button">
					<input type="image" src="{% static "img/menu/button-notoggle.png"%}" alt="Add to Cart" />
				</div>
				<!--<input type="submit" name="submit" value="Add to Cart">-->
				</form>
				</div>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="menu_box">
				<img src="{% static "img/menu/oatmeal.png"%}" style="  pointer-events:none; width:186px; height:100px;" class="center">
				

				<form role="form" method="post" action="/menu/">
				{% csrf_token %}
				<input type="hidden" name="item_id" value="{{ item.item.id }}">
				<input type="hidden" name="entry_id" value="{{ entry_id }}">
				<div class="cart_add_button">
					<input type="image" src="{% static "img/menu/button-notoggle.png"%}" alt="Add to Cart" />
				</div>
				<!--<input type="submit" name="submit" value="Add to Cart">-->
				</form>
				</div>
				</div>
			</td>
			<td>
				<div class="menu_box">
				<img src="{% static "img/menu/almond.png"%}" style="  pointer-events:none; width:186px; height:100px;" class="center">
				

				<form role="form" method="post" action="/menu/">
				{% csrf_token %}
				<input type="hidden" name="item_id" value="{{ item.item.id }}">
				<input type="hidden" name="entry_id" value="{{ entry_id }}">
				<div class="cart_add_button">
					<input type="image" src="{% static "img/menu/button-notoggle.png"%}" alt="Add to Cart" />
				</div>
				<!--<input type="submit" name="submit" value="Add to Cart">-->
				</form>
				</div>
				</div>
			</td>
			<td>
				<div class="menu_box">
				<!--<img src="{% static "img/menu/yogurt.png"%}" style="  pointer-events:none; width:186px; height:100px;" class="center">-->
				

				<form role="form" method="post" action="/menu/">
				{% csrf_token %}
				<input type="hidden" name="item_id" value="{{ item.item.id }}">
				<input type="hidden" name="entry_id" value="{{ entry_id }}">
				<div class="cart_add_button">
					<!--<input type="image" src="{% static "img/menu/button-notoggle.png"%}" alt="Add to Cart" />-->
				</div>
				<!--<input type="submit" name="submit" value="Add to Cart">-->
				</form>
				</div>
				</div>
			</td>
			<td>
				<div class="menu_box">
				<img src="{% static "img/menu/earlgreytea.png"%}" style="  pointer-events:none; width:186px; height:100px;" class="center">
				

				<form role="form" method="post" action="/menu/">
				{% csrf_token %}
				<input type="hidden" name="item_id" value="{{ item.item.id }}">
				<input type="hidden" name="entry_id" value="{{ entry_id }}">
				<div class="cart_add_button">
					<input type="image" src="{% static "img/menu/button-notoggle.png"%}" alt="Add to Cart" />
				</div>
				<!--<input type="submit" name="submit" value="Add to Cart">-->
				</form>
				</div>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="menu_box">
				<img src="{% static "img/menu/bagel.png"%}" style="  pointer-events:none; width:186px; height:100px;" class="center">
				

				<form role="form" method="post" action="/menu/">
				{% csrf_token %}
				<input type="hidden" name="item_id" value="{{ item.item.id }}">
				<input type="hidden" name="entry_id" value="{{ entry_id }}">
				<div class="cart_add_button">
					<input type="image" src="{% static "img/menu/button-notoggle.png"%}" alt="Add to Cart" />
				</div>
				<!--<input type="submit" name="submit" value="Add to Cart">-->
				</form>
				</div>
				</div>
			</td>
			<td>
				<div class="menu_box">
				<!--<img src="{% static "img/menu/green.png"%}" style="  pointer-events:none; width:186px; height:100px;" class="center">-->
				

				<form role="form" method="post" action="/menu/">
				{% csrf_token %}
				<input type="hidden" name="item_id" value="{{ item.item.id }}">
				<input type="hidden" name="entry_id" value="{{ entry_id }}">
				<div class="cart_add_button">
					<!--<input type="image" src="{% static "img/menu/button-notoggle.png"%}" alt="Add to Cart" />-->
				</div>
				<!--<input type="submit" name="submit" value="Add to Cart">-->
				</form>
				</div>
				</div>
			</td>
			<td>
				<div class="menu_box">
				<!--<img src="{% static "img/menu/yogurt.png"%}" style="  pointer-events:none; width:186px; height:100px;" class="center">-->
				

				<form role="form" method="post" action="/menu/">
				{% csrf_token %}
				<input type="hidden" name="item_id" value="{{ item.item.id }}">
				<input type="hidden" name="entry_id" value="{{ entry_id }}">
				<div class="cart_add_button">
					<!--<input type="image" src="{% static "img/menu/button-notoggle.png"%}" alt="Add to Cart" />-->
				</div>
				<!--<input type="submit" name="submit" value="Add to Cart">-->
				</form>
				</div>
				</div>
			</td>
			<td>
				<div class="menu_box">
				<img src="{% static "img/menu/water.png"%}" style="  pointer-events:none; width:186px; height:100px;" class="center">
				

				<form role="form" method="post" action="/menu/">
				{% csrf_token %}
				<input type="hidden" name="item_id" value="{{ item.item.id }}">
				<input type="hidden" name="entry_id" value="{{ entry_id }}">
				<div class="cart_add_button">
					<input type="image" src="{% static "img/menu/button-notoggle.png"%}" alt="Add to Cart" />
				</div>
				<!--<input type="submit" name="submit" value="Add to Cart">-->
				</form>
				</div>
				</div>
			</td>
		</tr>
	</table>
</div>

<h1>In Your Cart</h1>
<table border='1'>
	<tr>
		<td>Item</td>
		<td>Quantity</td>
	</tr>
{% for key, value in items_with_quantity.items %}
	<tr>
		<td>{{ key }}</td>
		<td>{{ value }}</td>
	</td>
{% endfor %}
</table>

{% endblock %}


