{% extends 'cal_base.html' %}

{% block content %}

<div id="calendar-header">
	<h2>PICK A TIME</h2>
</div>

<div id="calendar_wrapper">
	<table cellspacing='8' cellpadding='8'>
		<tr>
			{% for day in day_list %}
			<td><center><h5><b>{{ day }}</b></h5></center></td>
			{% endfor %}
		</tr>

		<tr>
			{% for day in days %}
			<td>
				{% for deliv in day %}
					{% if deliv.open %}

					<center><a href="{{ deliv.id }}">{{ deliv.get_start_time_string }} - {{ deliv.get_end_time_string }}</a></center>

					</form>
					{% else %}
						<center>{{ deliv.get_start_time_string }} - {{ deliv.get_end_time_string }}
					{% endif %}

				{% endfor %}
			</td>
			{% endfor %}

	</table>
</div>
{% endblock %}