body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-form-wrapper {
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#menurectangle {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  box-shadow: 20px 34.641px 79.8px 4.2px rgba(0, 0, 0, 0.46);
  width: 918px;
  height: 618px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  z-index: 4;
}


#rectangle {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  box-shadow: 20px 34.641px 79.8px 4.2px rgba(0, 0, 0, 0.46);
  width: 40%;
  height: 45%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
  margin-bottom: 80px;
  z-index: 4;
}

button.login-form-wrapper {
  display: inline;
  width: 45%;
  padding-bottom: 300px;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo{
  padding-top: 40px;
  padding-bottom: 15px;
  margin: 0 auto;

}

.logo img{
  width:300px;

}

#wrap {
  position: relative;
}

#center_text {
  margin-top: -15px;
  margin-bottom: 15px;
  pointer-events:none;
}

#button {
  margin-top: 30px;
}

#home-page-footer ul {
  margin: 0;
  padding-top: 30px;
  color: #000000;
}

#home-page-footer li {
  display: inline;
  font-family: Arial;
  font-size: 10px;
  color: #000000;
}

#home-page-footer li:hover {
  color: #000000;
}

#error-on-login {
  border: 1px;
  padding-top: 15px;
  color: #FF0000;
  padding-bottom: 15px;
}

#upper-nav {
  font-family: 'Abel', sans-serif;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 60px;
}

#calendar-header {
  font-family: 'Abel', sans-serif;
  font-size: 35px;
  margin-top: -18px;
  margin-left: 40px;
}


#cal_space td{
  padding: 15px;
}

#navbar_custom {
  font-family: 'Abel', sans-serif;
  font-size: 28px;
}

.cal_box {
  font-family: 'Abel', sans-serif;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px;
}

.cal_box_taken {
  font-family: 'Abel', sans-serif;
  margin-left: 40px;
  margin-right: 40px;
  border: 1px;
}

.cal_box_weekday {
  font-size: 35px;
}

.cal_box_date {
  margin-top: -5px;
  font-size: 20px;
}